# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Kamaz
#	email = kamaz@kamazs-mbp.home
[user]
	name = Kamaz
	email = kamaz@xsimple.org
[core]
	editor = nvim
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	amend = commit --amend
	last = log -1 HEAD
